 body{
    font-family: 'Open Sans', sans-serif;
 }
 header{
    background-color: rgba(255, 228, 196, 0.751);
 }
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
     
    
}
nav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.368);
}
 .font- title{
    color: rgba(0, 0, 0, 0.884);
    font-size: 45px;
    font-weight: 800;
 }
.cor-primary{
    color: coral;
}
.btm-primary{
    background-color: coral;
    color: white;
    border-radius: 3px;
    border: 0px;
    padding: 16px ;
    font-size: 20px;
    font-weight: 700;
     
}
.joy{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.btm-four{
    border-radius: 8px;
    border: 2px solid salmon;
    padding: 16px ;
    font-size: 20px;
    font-weight: 700;
    color: salmon;
     
}
.joy.picture{
    width: 800px;
}
